form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.inputs{
    width: 150%;
    height: 35px;
    border-radius: 5px;
    background-color: #FFF;
    cursor: pointer;
    border: 0;
    color: #1A1A1A;
    margin-bottom: 10px;
    transition: all .5s;
    outline: 0;
}

.adicionar{
    width: 500px;
    height: 35px;
    border-radius: 5px;
    background-color: #FFF;
    cursor: pointer;
    border: 0;
    color: #1A1A1A;
    margin-bottom: 10px;
    transition: all .5s;
}
.adicionar:hover{
    opacity: .7;
    transition: all .5s;
}